<button [routerLink]="['/async-pipe']" routerLinkActive="router-link-active">
  Async Pipe
</button>
&nbsp;
<button [routerLink]="['/shared']" routerLinkActive="router-link-active">
  Shared state</button
>&nbsp;<button [routerLink]="['/pipes']" routerLinkActive="router-link-active">
  Pipes
</button>
<hr />
<button [routerLink]="['/zip']" routerLinkActive="router-link-active">
  zip
</button>
&nbsp;
<button [routerLink]="['/merge-map']" routerLinkActive="router-link-active">
  MergeMap
</button>

<router-outlet></router-outlet>
